@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

:root {
  --bg: #1d1f21;
  --text-color:white;
  --current: #282a2e;
  --selection: #373b41;
  --foreground: #c5c8c6;
  --comment: #969896;
  --red: #cc6666;
  --orange: #de935f;
  --yellow: #f0c674;
  --green: #b5bd68;
  --aqua: #8abeb7;
  --blue: #81a2be;
  --purple: #b294bb;
}

div.container {
  overflow: hidden;

}
div.title-bar {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
img.logo {
  user-select: none;
  width: 50px;
  margin: 10px;
}
h1 {
  color: var(--text-color);
}
span.spacing {
  width:3px;
}
textarea{
  padding: 30px;
  height: 95%;
  width: 95%;
  
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  font-weight: 400;
  color: white;
  
  border-style: none;
  border-color: transparent;
  outline: none;
  resize: none; 
  overflow: visible;
  background-color: var(--bg);
  
}