@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

:root {
  --bg: #1d1f21;
  --text-color:white;
  --primary: #497ab4;
  --secondary: #ac83ad;
  --tertiary: #80d2ec;
}


textarea{
  font-family: 'Fira Code', monospace;
}

body {
  background-color: #2e3440;
  color: #ECF1FD;
}