@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

:root {
  --bg: #1d1f21;
  --text-color:white;
  --primary: #257CE1;
  --secondary: #B386B8;
  --tertiary: #66CFEB;
}


textarea{
  font-family: 'Fira Code', monospace;
}

body {
  background-color: #020C13;
  color: #ECF1FD;
}