.clearCanvasButton {
    background: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
}

.clearButton {
    /* outline: 5px dotted blue; */
    max-width: 50px;
    max-height: 50px;
    border: none;
    outline: none;
}